
.env
kafka_2.13-4.2.0/logs/

todo.md
image.png

kafka_2.13-4.2.0/logs/kafkaServer-gc.log
kafka_2.13-4.2.0/logs/controller.log
kafka_2.13-4.2.0/logs/kafkaServer-gc.log
kafka_2.13-4.2.0/logs/log-cleaner.log
kafka_2.13-4.2.0/logs/server.log
kafka_2.13-4.2.0/logs/state-change.log
kafka_2.13-4.2.0/.env

kafka/.env
